include ./includes/head.jade
  body
    div.full
      h1= pageTitle
      include ./includes/nav.jade
      div.main-content
        div.half
        div.half
          div.small-highlight
          div.small-highlight-desc
            h3 SecondPostTitle
            div.read-more Read More
            p.
              Small blurb to describe these sub highlights. Pulled from the posts. Just a couple sentences.
     
   include ./includes/footer.jade
