include ./includes/head.jade
  body
    div.full
      h1= pageTitle
      include ./includes/nav.jade
    div.full.long-border
      div.page-highlight(style= highlightBackground)
        div.title= latestPostTitle

    div.full.bottom-border
      div.main-content
        if release
          h2.half.clear.left= latestPostTitle
          div.half.clear.right
            div.read-more.right 
              div Read More
        else
          h2.half.clear.left(style='text-transform: none')
            | Some pages might be missing. Instead, check me out on 
            a(href="http://github.com/kolive") GitHub 
            | or 
            a(href="http://ca.linkedin.com/in/kolive/") LinkedIn
            |! 
          h2.half.clear.left
    if release
      div.main-content.page-highlight-blurb
        p
          | Instead, check me out on 
          a(href="http://github.com/kolive") GitHub
          | or 
          a(href="http://ca.linkedin.com/in/kolive/") LinkedIn
          |! 
      div.main-content
        div.half
          div.small-highlight
          div.small-highlight-desc
            h3 SecondPostTitle
            div.read-more Read More
            p.
              Small blurb to describe these sub highlights. Pulled from the posts. Just a couple sentences.
        div.half
          div.small-highlight
          div.small-highlight-desc
            h3 SecondPostTitle
            div.read-more Read More
            p.
              Small blurb to describe these sub highlights. Pulled from the posts. Just a couple sentences.
     
   include ./includes/footer.jade
